# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# SQL Server files
*.mdf
*.ldf

# Others
*.db
*.log


# Exclude bin and obj directories 
bin/ 
obj/


/obj/Debug/net8.0/GestionEstacionamientoRicardo.AssemblyInfoInputs.cache
/obj/Debug/net8.0/GestionEstacionamientoRicardo.AssemblyInfo.cs


