@model GestionEstacionamientoRicardo.Models.TiposVehiculo

@{
    ViewData["Title"] = "Eliminar";
}

<div class="container mt-5">
    <h1 class="text-danger mb-3">@ViewData["Title"]</h1>

    <div class="alert alert-warning">
        <h3>¿Estás seguro de que deseas eliminar este tipo de vehículo?</h3>
        <h4>Al eliminar el Tipo de vehiculo eliminaras los registros de Vehiculos con este tipo y los registros del estacionamiento de esta placa</h4>
        <p>Esta acción no se puede deshacer.</p>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4 class="card-title text-secondary mb-4">Detalles del Tipo de Vehículo</h4>
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Descripción</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-3 font-weight-bold">Tarifa por Minuto</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TarifaPorMinuto)</dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoId" />
        <div class="d-flex">
            <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </form>
</div>
